# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build output
/bin/
/out/

# Test binary
*.test

# Go coverage
*.out
coverage.html

# Go workspace
go.work.sum

# Dependency directory
/vendor/

# WebStorm / JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.env.local